body, header{
position: relative;
width: 1152px;
height: 700px;

background: #FFFFFF;
}

h1{
position: absolute;
width: 281px;
height: 133px;
left: 49px;
top: 43px;

font-family: Montaga;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 109.9%;
/* or 55px */

letter-spacing: 0.2em;

color: #000000;
}

h2{
position: absolute;
width: 457px;
height: 104px;
left: 174px;
top: 167px;

font-family: Montaga;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 109.9%;
/* or 33px */

letter-spacing: 0.2em;

color: #000000;
}

h3{
position: absolute;
width: 216px;
height: 64px;
left: 467px;
top: 364px;

font-family: Montaga;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 109.9%;
/* or 44px */

letter-spacing: 0.2em;

color: #000000;

}

h3 a{
text-decoration: none;
color: black;
}

span{
font-size: 60px;
margin-left: 20px;
}
