body, header{
position: relative;
width: 1152px;
height: 700px;

background: #FFFFFF;
}

h1{
position: absolute;
width: 573px;
height: 56px;
left: 44px;
top: 58px;

font-family: Pragati Narrow;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 109.9%;
/* or 33px */

letter-spacing: 0.2em;

color: #000000;
}

nav a{
text-decoration: none;
color: black;
}

nav{
position: absolute;
width: 1200px;
height: 21px;
left: 550px;
top: 290px;

font-family: ABeeZee;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 109.9%;
/* or 22px */

letter-spacing: 0.2em;

color: #000000;
word-spacing: 1em;
}

nav a:hover{
color: red;
}

hr{
position: absolute;
width: 1775px;
height: 0px;
left: -13px;
top: 353px;

border: 3px solid #000000;
}

.rowone #earone{
position: absolute;
width: 277px;
height: 386px;
left: 67px;
top: 405px;

background: #000000;
}
.rowone #eartwo{
position: absolute;
width: 277px;
height: 386px;
left: 530px;
top: 405px;

background: #000000;
}

.rowone #earthree{
position: absolute;
width: 277px;
height: 386px;
left: 1007px;
top: 405px;

background: #000000;

}

.rowone h1{
position: absolute;
width: 310px;
height: 64px;
left: 21px;
top: 811px;

font-family: ABeeZee;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 109.9%;
/* or 33px */

text-align: center;
letter-spacing: 0.2em;

color: #000000;
}

.rowone h2{
position: absolute;
width: 310px;
height: 64px;
left: 464px;
top: 811px;

font-family: ABeeZee;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 109.9%;
/* or 22px */

text-align: center;
letter-spacing: 0.2em;

color: #000000;
}

.rowone h3{
position: absolute;
width: 310px;
height: 64px;
left: 1083px;
top: 849px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 109.9%;
/* or 22px */

text-align: center;
letter-spacing: 0.115em;

color: #000000;
}


/* ROW TWO */

.rowtwo #earone{
position: absolute;
width: 277px;
height: 386px;
left: 84px;
top: 1039px;

background: #000000;
}
.rowtwo #eartwo{
position: absolute;
width: 277px;
height: 386px;
left: 583px;
top: 1039px;

background: #000000;
}

.rowtwo #earthree{
position: absolute;
width: 277px;
height: 386px;
left: 1083px;
top: 1039px;

background: #000000;

}

.rowtwo h1{
position: absolute;
width: 245px;
height: 64px;
left: 100px;
top: 1453px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 109.9%;
/* or 22px */

text-align: center;
letter-spacing: 0.115em;

color: #000000;
}

.rowtwo h2{
position: absolute;
width: 310px;
height: 64px;
left: 567px;
top: 1453px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 109.9%;
/* or 22px */

text-align: center;
letter-spacing: 0.115em;

color: #000000;
}

.rowtwo h3{
position: absolute;
width: 310px;
height: 64px;
left: 1083px;
top: 1453px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 109.9%;
/* or 22px */

text-align: center;
letter-spacing: 0.115em;

color: #000000;;
}

/* ROW THREE */

.rowtres #earone{
position: absolute;
width: 277px;
height: 386px;
left: 84px;
top: 1642px;

background: #000000;
}
.rowtres #eartwo{
position: absolute;
width: 277px;
height: 386px;
left: 583px;
top: 1635px;

background: #000000;
}

.rowtres #earthree{
position: absolute;
width: 277px;
height: 386px;
left: 1083px;
top: 1635px;

background: #000000;

}

.rowtres h1{
position: absolute;
width: 310px;
height: 64px;
left: 51px;
top: 2064px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 109.9%;
/* or 22px */

text-align: center;
letter-spacing: 0.115em;

color: #000000;

}

.rowtres h2{
position: absolute;
width: 310px;
height: 64px;
left: 550px;
top: 2084px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 109.9%;
/* or 22px */

text-align: center;
letter-spacing: 0.115em;

color: #000000;
}

.rowtres h3{
position: absolute;
width: 310px;
height: 64px;
left: 1083px;
top: 2084px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 109.9%;
/* or 22px */

text-align: center;
letter-spacing: 0.115em;

color: #000000;
}
