body, header{
position: relative;
width: 1440px;
height: 2368px;
background: #EBDBFF;
overflow-x: hidden;
}

h1{
position: absolute;
width: 573px;
height: 30px;
left: 1073px;
top: 40px;

font-family: Montaga;
font-style: bold;
font-weight: normal;
font-size: 30px;
line-height: 109.9%;
/* or 33px */

letter-spacing: 0.2em;

color: #000000;
}

nav a{
text-decoration: none;
color: black;
}

nav{
position: absolute;
width: 1157px;
height: 280px;
left: 70px;
top: 127px;


font-family: Lato, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 109.9%;
/* or 22px */

letter-spacing: 0.1em;

color: #000000;
}

nav a:hover{
color: white;
}

hr{
position: absolute;
width: 1290px;
height: 0px;
left: 70px;
top: 353px;

background: #000000;
border: 1px solid #000000;
}

.rowone #earone{
position: absolute;
width: 277px;
height: 386px;
left: 84px;
top: 435px;

background: #000000;
}
.rowone #eartwo{
position: absolute;
width: 277px;
height: 386px;
left: 583px;
top: 435px;

background: #000000;
}

.rowone #earthree{
position: absolute;
width: 277px;
height: 386px;
left: 1083px;
top: 435px;

background: #000000;

}

.rowone h1{
position: absolute;
width: 245px;
height: 64px;
left: 90px;
top: 830px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 109.9%;
/* or 33px */

text-align: center;
letter-spacing: 0.1em;

color: #000000;
}

.rowone h2{
position: absolute;
width: 310px;
height: 64px;
left: 567px;
top: 849px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 109.9%;
/* or 22px */

text-align: center;
letter-spacing: 0.115em;

color: #000000;
}

.rowone h3{
position: absolute;
width: 310px;
height: 64px;
left: 1083px;
top: 849px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 109.9%;
/* or 22px */

text-align: center;
letter-spacing: 0.115em;

color: #000000;
}


/* ROW TWO */

.rowtwo #earone{
position: absolute;
width: 277px;
height: 386px;
left: 84px;
top: 1039px;

background: #000000;
}
.rowtwo #eartwo{
position: absolute;
width: 277px;
height: 386px;
left: 583px;
top: 1039px;

background: #000000;
}

.rowtwo #earthree{
position: absolute;
width: 277px;
height: 386px;
left: 1083px;
top: 1039px;

background: #000000;

}

.rowtwo h1{
position: absolute;
width: 245px;
height: 64px;
left: 100px;
top: 1453px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 109.9%;
/* or 22px */

text-align: center;
letter-spacing: 0.115em;

color: #000000;
}

.rowtwo h2{
position: absolute;
width: 310px;
height: 64px;
left: 567px;
top: 1453px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 109.9%;
/* or 22px */

text-align: center;
letter-spacing: 0.115em;

color: #000000;
}

.rowtwo h3{
position: absolute;
width: 310px;
height: 64px;
left: 1083px;
top: 1453px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 109.9%;
/* or 22px */

text-align: center;
letter-spacing: 0.115em;

color: #000000;;
}

/* ROW THREE */

.rowtres #earone{
position: absolute;
width: 277px;
height: 386px;
left: 84px;
top: 1642px;

background: #000000;
}
.rowtres #eartwo{
position: absolute;
width: 277px;
height: 386px;
left: 583px;
top: 1635px;

background: #000000;
}

.rowtres #earthree{
position: absolute;
width: 277px;
height: 386px;
left: 1083px;
top: 1635px;

background: #000000;

}

.rowtres h1{
position: absolute;
width: 310px;
height: 64px;
left: 51px;
top: 2064px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 109.9%;
/* or 22px */

text-align: center;
letter-spacing: 0.115em;

color: #000000;

}

.rowtres h2{
position: absolute;
width: 310px;
height: 64px;
left: 550px;
top: 2084px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 109.9%;
/* or 22px */

text-align: center;
letter-spacing: 0.115em;

color: #000000;
}

.rowtres h3{
position: absolute;
width: 310px;
height: 64px;
left: 1083px;
top: 2084px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 109.9%;
/* or 22px */

text-align: center;
letter-spacing: 0.115em;

color: #000000;
}